- title 'Контактная информация | Автомастер'

%h1 Контактная информация

.columns.page
  .column.f-x2
    %h3 Схема проезда
    = render "shared/map"
  .column.f-x1{:style => "margin-top: 0.9em;"}
    %div{:style => "margin-bottom: 2.333em;"}
      %h4 Адрес
      Южный проезд, 164
    %div{:style => "margin-bottom: 2.333em;"}
      %h4 Телефон
      (846) 992-69-95
    %div{:style => "margin-bottom: 2.333em;"}
      %h4 График работы
      %p 
        C понедельника по пятницу с 9 до 18 часов.
        %br/
        Cуббота — с 9 до 16 часов.
    
